---
import HTMLIcon from "./icons/HTML.astro";
import JavaScriptIcon from "./icons/JavaScript.astro";
import CSSIcon from "./icons/CSS.astro";
import TailwindIcon from "./icons/Tailwind.astro";
import LinkButton from "./LinkButton.astro";
import GitHub from "./icons/GitHub.astro";
import EyeIcon from "./icons/Eye.astro";
import TypeScriptIcon from "./icons/TypeScript.astro";
import ReactIcon from "./icons/React.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import SvelteIcon from "./icons/Svelte.astro";

/* border-2 border-blue-400 */

const TAGS = {
	HTML: {
		name: "HTML",
		class: "bg-purple-900/80 text-purple-400 border border-purple-600",
		icon: HTMLIcon,
	},
	JavaScript: {
		name: "JavaScript",
		class: "bg-purple-900/80 text-purple-400 border border-purple-600",
		icon: JavaScriptIcon,
	},
	CSS: {
		name: "CSS",
		class: "bg-purple-900/80 text-purple-400 border border-purple-600",
		icon: CSSIcon,
	},
	Tailwind: {
		name: "Tailwind",
		class: "bg-purple-900/80 text-purple-400 border border-purple-600",
		icon: TailwindIcon,
	},
	Astro: {
		name: "Astro",
		class: "bg-purple-900/80 text-purple-400 border border-purple-600",
		icon: AstroIcon,
	},
	React: {
		name: "React",
		class: "bg-purple-900/80 text-purple-400 border border-purple-600",
		icon: ReactIcon,
	},
	Svelte: {
		name: "Svelte",
		class: "bg-purple-900/80 text-purple-400 border border-purple-600",
		icon: SvelteIcon,
	},
	Typescript: {
		name: "Typescript",
		class: "bg-purple-900/80 text-purple-400 border border-purple-600",
		icon: TypeScriptIcon,
	},
};

const PROJECTS = [
	{
		title: "Spotify Clone",
		description:
			"Spotify Clone made with Astro, JavaScript, TypeScript and some React and Svelte components.",
		link: "",
		github: "https://github.com/AlexSh1mada/spotify-clone",
		image: "/projects/spotify-clone.webp",
		tags: [
			TAGS.Astro,
			TAGS.Typescript,
			TAGS.JavaScript,
			TAGS.React,
			TAGS.Tailwind,
		],
	},
	{
		title: "Monkeytype Clone",
		description:
			"A Monkeytype clone application to measure accuracy and typing speed. This project was great to work on programming logic.",
		link: "",
		github: "https://github.com/AlexSh1mada/monkeyTypeCloneApp",
		image: "/projects/monkeytype.webp",
		tags: [TAGS.HTML, TAGS.CSS, TAGS.JavaScript],
	},
	{
		title: "Weather App",
		description:
			"App where you get your location's weather, as well as any other location's.",
		link: "",
		github: "https://github.com/AlexSh1mada/weatherApp",
		image: "/projects/weather-app.webp",
		tags: [TAGS.HTML, TAGS.CSS, TAGS.JavaScript],
	},
	{
		title: "Enchanted Emporium",
		description:
			"An Ecommerce shopping cart site themed around a Medieval Store ala D&D style, the roleplaying game. ",
		link: "",
		github: "https://github.com/AlexSh1mada/shoppingCart",
		image: "/projects/enchanted-emporium.webp",
		tags: [TAGS.HTML, TAGS.CSS, TAGS.JavaScript],
	},
];
---

<div class="flex flex-col gap-y-16">
	{
		PROJECTS.map(({ image, title, description, tags, link, github }) => (
			<article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
				<div class="w-full md:w-1/2">
					<div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
						<img
							alt={`Screenshot from the project ${image}`}
							class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
							loading="lazy"
							src={image}
						/>
					</div>
				</div>

				<div class="w-full md:w-1/2 md:max-w-lg">
					<h3 class="text-2xl font-bold bg-gradient-to-r from-teal-200 to-yellow-200 text-transparent bg-clip-text">
						{title}
					</h3>
					<div class="flex flex-wrap mt-2">
						<ul class="flex flex-row mb-2 gap-x-2">
							<div class="flex flex-wrap gap-2">
								{tags.map((tag) => (
									<li>
										<span
											class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
										>
											<tag.icon class="size-4" />
											{tag.name}
										</span>
									</li>
								))}
							</div>
						</ul>

						<div class="mt-2 text-gray-400">{description}</div>
						<footer class="flex items-end justify-start mt-4 gap-x-4">
							{github && (
								<LinkButton href={github}>
									Code
									<GitHub class="size-4 md:size-6 ml-1" />
								</LinkButton>
							)}
							{link && (
								<LinkButton href={link}>
									Preview
									<EyeIcon class="size-4 md:size-6 ml-1" />
								</LinkButton>
							)}
						</footer>
					</div>
				</div>
			</article>
		))
	}
</div>
